doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title= title
	// Bootstrap
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/DataTables-1.10.13/css/dataTables.bootstrap.min.css')
	link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
	block head
		
body
	block content
	script(src='/js/jquery-3.1.1.min.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/spin.min.js')
	script(src='/DataTables-1.10.13/js/jquery.dataTables.min.js')
	script(src='/DataTables-1.10.13/js/dataTables.bootstrap.min.js')
	block scripts